<div class="container">

  <div class="row">
    <h3>Create new project</h3>
    <div class="col-4">
      <form [formGroup]="myForm" novalidate (ngSubmit)="createProject(myForm.value, myForm.valid)">
        <div>
          <label>Name</label>
          <input type="text" formControlName="name" placeholder="My fantastic project">
          <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)">
        Name is required (minimum 5 characters).
          </small>
        </div>
        <div>
          <label>Mutation rate: {{_currentRange}}</label>
          <input type="range" step="0.01" min="0.01" max="0.5" defaultValue="0.1"
           (change)="onChange($event.target.value)" formControlName="mRate">
        </div>
        <button type="submit" [disabled]="!myForm.valid">Submit</button>

      </form>
    </div>

  </div>
<accordion [closeOthers]="true">
  <accordion-group *ngFor="let project of projects">
    <div accordion-heading> {{ project.name }}
      <span class="badge">{{project.generations.length}}</span>
    </div>

      <div *ngFor="let gen of project.generations; let i = index">
        <a (click)="onSelect(gen._id)">
        Generation #{{i+1}}  {{gen._id}}
        </a>
        </div>

  </accordion-group>
</accordion>

</div>
